h1,
h2,
h3,
p,
span,
a {
    color: #333;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 3rem;
    font-weight: normal;
    margin: 15px;
    padding: 15px;
    border: solid gray 3px;
    border-image-source: linear-gradient(90deg, rgb(54, 221, 71), rgba(4, 202, 255, 1));
    border-image-slice: 1;
    background: -webkit-linear-gradient(90deg, rgb(54, 221, 71), rgba(4, 202, 255, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 .version {
    font-size: 1.5rem;
}

h2 {
    font-size: 2rem;
}

h2 span {
    font-size: 1.2rem;
}

ul li ul {
    margin: 20px 0;
    padding-left: 30px;
}

a {
    padding: 1px;
    transition: 0.2s;
    border-bottom: solid gray 1px;
}

a:hover {
    background-color: gray;
}

table {
    margin: 10px;
    border-spacing: 0;
}

th {
    text-decoration: none;
    padding-right: 8px;
    border-right: solid black 1.5px;
}

td {
    padding-left: 5px;
}

#aboutlibraries {
    text-align: center;
    list-style: none;
    padding-left: 0;
}
