@font-face {
  font-family: "MPlus Rounded1c";
  src: url("./../assets/fonts/MPLUSRounded1c-Regular.ttf") format("truetype");
}
body {
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

p,
h1,
h3,
a,
span,
input {
  font-family: "MPlus Rounded1c", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transform: rotateZ(0.05deg);
}

input {
  outline: none;
}

input[type=search].s {
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 2rem;
  margin: 10px 0 0 10px;
  padding: 5px;
  width: calc(25vw - 80px);
  transition: 0.3s;
  height: 50px;
}
input[type=search].s:focus {
  background-color: rgb(230, 230, 230);
}
input[type=search].s:active {
  transform: scale(0.95);
}
input[type=search].s::-moz-placeholder {
  font-size: 1.2rem;
  transform: translateY(-0.5vh);
}
input[type=search].s::placeholder {
  font-size: 1.2rem;
  transform: translateY(-0.5vh);
}
input[type=search].s::-webkit-search-cancel-button {
  display: none;
}

input[type=text].s,
input[type=number].s,
input[type=url].s {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px 0 0 10px;
  padding: 5px;
  transition: 0.3s;
  height: 30px;
}
input[type=text].s:focus,
input[type=number].s:focus,
input[type=url].s:focus {
  background-color: rgb(230, 230, 230);
}
input[type=text].s:active,
input[type=number].s:active,
input[type=url].s:active {
  transform: scale(0.95);
}
input[type=text].s::-moz-placeholder, input[type=number].s::-moz-placeholder, input[type=url].s::-moz-placeholder {
  font-size: 1.2rem;
  transform: translateY(-0.5vh);
}
input[type=text].s::placeholder,
input[type=number].s::placeholder,
input[type=url].s::placeholder {
  font-size: 1.2rem;
  transform: translateY(-0.5vh);
}
input[type=text].s::-webkit-search-cancel-button,
input[type=number].s::-webkit-search-cancel-button,
input[type=url].s::-webkit-search-cancel-button {
  display: none;
}

a.s {
  position: relative;
}
a.s.icon {
  position: absolute;
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 999px;
  background-repeat: no-repeat;
  background-size: 48px;
  background-position: center;
  margin: 6px 1px 1px 6px;
  padding: 5px;
  transition: 0.3s;
}
a.s.icon:hover {
  background-color: rgb(230, 230, 230);
}
a.s.icon:active {
  transform: scale(0.95);
}
a.s.icon.sync {
  background-image: url(./../assets/icons/sync.svg);
}
a.s.icon.add_location {
  background-image: url(./../assets/icons/add_location.svg);
}
a.s.text {
  border: 1px solid gray;
  display: inline-block;
  padding: 7px 15px;
  margin: 7px;
  text-decoration: none;
  border-radius: 999px;
  color: black;
  transition: 0.3s;
}
a.s.text:hover {
  background-color: rgb(230, 230, 230);
}
a.s.text:active {
  transform: scale(0.95);
}
a.s.tab {
  border-bottom: 3px solid gray;
  display: inline-block;
  padding: 7px 15px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
  font-size: 1.25rem;
  padding-left: 50px;
}
a.s.tab:hover {
  background-color: rgb(230, 230, 230);
}
a.s.tab:active {
  transform: scale(0.95);
}

div.s.i {
  left: 15px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  display: inline-block;
  position: absolute;
}
div.s.i.dir {
  background-image: url(./../assets/icons/directions.svg);
}
div.s.i.info {
  background-image: url(./../assets/icons/info.svg);
}

div.space10px {
  height: 10px;
}

div.tabrail {
  margin: 10px;
}

section.hide {
  display: none;
}

div.form div {
  margin: 10px;
  display: block;
}
div.form div input,
div.form div label {
  font-size: 1.2rem;
  margin-left: 10px;
}/*# sourceMappingURL=common.css.map */