@font-face {
    font-family: 'MPlus Rounded1c';
    src: url('./../assets/fonts/MPLUSRounded1c-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

p,
h1,
h3,
a,
span,
input {
    font-family: 'MPlus Rounded1c', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform:rotateZ(0.05deg);
}

input {
    outline: none;
}

input[type=search].s {
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 2rem;
    margin: 10px 0 0 10px;
    padding: 5px;
    width: calc(25vw - 80px);
    transition: .3s;
    height: 50px;
    &:focus {
        background-color: rgb(230, 230, 230);
    }
    &:active {
        transform: scale(0.95);
    }
    &::placeholder {
        font-size: 1.2rem;
        transform:translateY(-0.5vh)
    }
    &::-webkit-search-cancel-button {
        display: none;
    }
}

a.s {
    &.icon {
        position: absolute;
        display: inline-block;
        width: 48px;
        height: 48px;
        border-radius: 999px;
        background-repeat: no-repeat;
        background-size: 48px;
        background-position: center;
        margin: 6px 1px 1px 6px;
        padding: 5px;
        transition: .3s;
        &:hover {
            background-color: rgb(230, 230, 230);
        }
        &:active {
            transform: scale(0.95);
        }

        &.sync {
            background-image: url(./../assets/icons/sync.svg);
        }
        &.add_location {
            background-image: url(./../assets/icons/add_location.svg);
        }
    }
    &.text {
        border: 1px solid gray;
        display: inline-block;
        padding: 7px 15px;
        margin: 7px;
        text-decoration: none;
        border-radius: 999px;
        color: black;
        transition: .3s;
        &:hover {
            background-color: rgb(230, 230, 230);
        }
        &:active {
            transform: scale(0.95);
        }
    }
    &.tab {
        border-bottom: 3px solid gray;
        display: inline-block;
        padding: 7px 15px;
        text-decoration: none;
        color: black;
        transition: .3s;
        font-size: 1.25rem;
        padding-left: 50px;
        &:hover {
            background-color: rgb(230, 230, 230);
        }
        &:active {
            transform: scale(0.95);
        }
    }
    position: relative;
}

div.s.i {
    left: 15px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    display: inline-block;
    position: absolute;
    &.dir {
        background-image: url(./../assets/icons/directions.svg);
    }
    &.info {
        background-image: url(./../assets/icons/info.svg);
    }
}

div.space10px {
    height: 10px;
}

div.tabrail {
    margin: 10px;
}

section.hide {
    display: none;
}
